<%- include ('../partials/_header')  %>
<%- include ('../partials/_navbar')  %>
<h4 class="center" style="padding: 10px 0;">CLASSES</h4>
<div class="container center" style="width: 95vw;"> 
    <table class="centered responsive-table highlight" style="border: 1px solid rgb(211, 208, 208);">
        <thead>
          <tr>
              <th>Class Name</th>
              <th>Room No.</th>
              <th>Teache Incharge</th>
              <th>Location</th>
              <th>No. of Students</th>
          </tr>
        </thead>
        <tbody>
            <% classes.forEach(c => { %>
            <tr>
                <td><%= c.className  %></td>
                <td><%= c.classRoomNo  %></td>
                <td><%= c.teacherInCharge  %></td>
                <td><%= c.location  %></td>
                <td><%= c.students.length  %></td>
            </tr>
            <% }) %> 
        </tbody>
    </table>
</div>
<%- include ('../partials/_footer')  %>  