<%- include ('../partials/_header')  %>
<%- include ('../partials/_navbar')  %>
<h4 class="center" style="padding: 10px 0;">Create Student</h4>
<div class="container"> 
    <div class="row">
        <h5>Add a Single Student</h5>
        <form class="col s12" action="/admin/student-add" method="POST">
            <div class="row">
                <div class="input-field col s12 m6">
                    <input name="firstName" required type="text" class="validate" value="<%= typeof s !== 'undefined' ? s.firstName : '' %>">
                    <label for="first_name">First Name</label>
                </div>
                <div class="input-field col s12 m6">
                    <input name="lastName" required type="text" class="validate" value="<%= typeof s !== 'undefined' ? s.lastName : '' %>">
                    <label for="last_name">Last Name</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <input required name="email" type="email" class="validate" value="<%= typeof s !== 'undefined' ? s.email : '' %>">
                    <label for="email">Email Address</label>
                    <span class="helper-text">abc@gmail.com</span>
                </div>
                <div class="input-field col s12 m6">
                    <input name="phone" required class="validate" type="number" value="<%= typeof s !== 'undefined' ? s.phone : '' %>">
                    <label for="phoneNumber">Phone Number</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <input name="guardian" required type="text" class="validate" value="<%= typeof s !== 'undefined' ? s.guardian : '' %>">
                    <label for="parent">Gaurdian's Name</label>
                </div>
                <div class="input-field col s12 m6">
                    <input name="address" required class="validate" type="text" value="<%= typeof s !== 'undefined' ? s.address : '' %>">
                    <label for="address">Address</label>
                </div>
            </div>
            <div class="row">
                <div class="input-field col s12 m6">
                    <select name="class">
                      <option value="" disabled selected>Choose your option</option>  
                      <% classes.forEach(c => { %>
                        <option value="<%= c.className  %>"><%= c.className  %></option> 
                        <% }) %> 
                    </select>
                    <label>Class Select</label>
                </div>
                <div class="input-field col s12 m6">
                    <input name="school_ID" required class="validate" type="text" value="<%= typeof s !== 'undefined' ? s.school_ID : '' %>">
                    <label for="id">School ID</label>
                </div>
            </div>
            <div class="row center">
                <button class="btn waves-effect waves-light" type="submit">Submit
                    <i class="material-icons right">send</i>
                </button>
            </div>
        </form>
    </div>
    <div class="row">
        <div style="margin-top: 5px;" class="col s12 m4">
            <h5>Add Students by CSV Files</h5> 
        </div>
        <div style="margin-top: 5px;" class="col s12 m3">
            <a class="red waves-effect waves-light btn" href="/admin/student-csv"><i class="material-icons right">file_upload</i>Import CSV</a>
        </div>
        <div style="margin-top: 5px;" class="col s12 m3">
            <a href="/exports/student.csv" class="green waves-effect waves-light btn" download><i class="material-icons right">file_download</i>Export CSV</a>
        </div>
    </div>
</div>
<% if(typeof errors !== 'undefined') { %>
    <% errors.forEach(msg => { %>
        <script>
              M.toast({html: '<%= msg %>'});
        </script>
   <% }) %> 
<% } %> 

<%- include ('../partials/_footer')  %>  